.contacto{
    background-color: #1a1717;
}

.contact-section {
    padding: 4rem 0;
    background-color: var(--color-background);
    color: var(--color-primary);
    text-align: center;
}

.contact-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--color-card-bg);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    text-align: left;
}
        
.contact-form-container h2{
    color: var(--color-primary);
    margin-bottom: 2rem;
}

.form-group{
    margin-bottom: 1.5rem;
}

.form-group label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: var(--color-primary);
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: var(--color-blue);
    outline: none;
}

.form-group textarea {
    resize: vertical;
    min-height: 120px;
}

.submit-button {
    width: 100%;
    padding: 1rem;
    background-color:#000000;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.submit-button:hover {
    transform: translateY(-1px);
    background-color: #aa1d1d;
}



input , textarea{
    color: black;
}
