.titulo{
    text-align: center;
}

.contenedor{
    background: #030000;
    background: radial-gradient(circle, rgba(3, 0, 0, 1) 0%, rgb(0, 0, 0) 65%, rgba(30, 30, 38, 1) 100%);
}
.productos{
    
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 3rem; 
}

.producto-card{
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 340px;
    border-radius: 12px;
    overflow: hidden;
    background-color: rgb(17, 15, 15);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid white;
}

.producto-imagen{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.producto-info{
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.producto-nombre{
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    font-weight: 200;
}

.producto-descripcion{
    text-align: left;
    color: #6b7280; 
    margin-bottom: 1rem;
    flex-grow: 1; 
}

.producto-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.producto-precio{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.producto-boton{
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: rgb(180, 22, 22);
}

/* CARRITO */

.mensaje-carrito-vacio{
    display: flex;
    align-items: center;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    height: 100vh;
}
#acciones-carrito{
    display: flex;
    justify-content: center;
}

.vacio{
    height: 100vh;
}

.boton-vaciar{
    height: 5vh;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-color: lightskyblue;
    color: #030000;
}
#total{
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
}